p{
    font-size:30px; 
   
}
.images {
    height:80%;
    width: 80%;
    background-position: left;
    background-size: cover;
    margin: 1px;
    
}
body{
    background-color: rgb(243, 188, 188);
}
header{
    
    color: white;
}
#rowEdit{
    background-color: black;
}
h6{
    margin: 10px;    
}
